body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:gray
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.monster{
  position: relative;
}

.monster img {
  width:200px;
}

.punch {
  position: absolute;
  top: 0;
  left: 110px;
}
.punch img {
  width: 45px;
}

.darah {
  width: 200px;
  height: 30px;
  background: green;
}

